:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-link-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --text-logo-accent: #000000;
  --bg-our-team: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --card-portfolio: #eee;
  --header-line: #ececec;
  --icon: #afb1b8;
  --footer-icon: rgba(255, 255, 255, 0.1);
  --label-color: #757575;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--background-color);
}

/* ------ Auxiliaey Classes -------------- */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* --------- new fix ---------- */
.header-container {
  display: flex;
  align-items: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: center;
}

.our-work-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.our-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 94px 0 94px 0;
}

a {
  color: currentColor;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

li:last-child {
  padding-right: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

/* ------------- Header ------------- */
.site-header {
  background-color: var(--primary-white-color);
  /* ------------ LAYOUT  IN CLASS---------------  */

  border-bottom: 1px solid var(--header-line);
}

.header-logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-logo-accent);
  letter-spacing: 0.78px;
  /* ------------ LAYOUT IN CLASS ---------------  */
  margin-right: 93px;
}

.web {
  color: var(--primary-link-color);
  letter-spacing: 0.78px;
}

/* ------ Header Nav ----- */

.nav-menu {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
/* --------- UL li ------------- */
.header-ul,
.header-ul-info {
  display: flex;
}

.header-ul-info {
  margin-left: auto;
}

.header-ul li {
  margin-right: 50px;
}

.header-ul li:last-child,
.header-ul-info li:last-child {
  margin-right: 0px;
}

.header-ul-info li {
  margin-right: 40px;
}

.header-ul-info > link::before {
  content: ' ';
  background-image: url();
}

.nav-menu .link {
  color: var(--title-text-color);
}

.link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.28px;
  padding: 32px 0;
  display: flex;
  align-items: center;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.link-icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  scale: 1.2;
}

.link.active {
  color: var(--primary-link-color);
}

.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--primary-link-color);
  border-radius: 2px;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--primary-link-color);
}

.nav-menu a {
  text-decoration: none;
}

/* -------- Main --------- --------------------------------------------*/
/* ------ Portfolio -------------------------------------------------- */

.portfolio {
  padding: 94px 0;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
}

.card-portfolio {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.card-link:hover,
.card-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-link {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-portfolio:nth-of-type(3n) {
  margin-right: 0;
}

.card-portfolio:nth-of-type(3n + 1) {
  margin-left: 0;
}

.card-portfolio:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

.card-box {
  padding: 20px 24px;
  border: 1px solid var(--card-portfolio);
  border-top: none;
}

.card-portfolio__subitle {
  color: var(--text-logo-accent);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.card-portfolio__paragraph {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

.visibel {
  position: relative;
  overflow: hidden;
}

.visibel::before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .visibel::before,
.card-link:focus .visibel::before,
.card-link:hover .visible-item,
.card-link:focus .visible-item {
  opacity: 1;
  transform: translateY(0);
}

.visible-item {
  position: absolute;
  bottom: 63px;
  left: 24px;
  right: 24px;
  color: var(--primary-white-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.555;
  letter-spacing: 0.54px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------section filter ----- */

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn li {
  margin-right: 8px;
}

.btn li:last-child {
  margin-right: 0;
}

.filter-btn {
  border-radius: 4px;
  background-color: var(--bg-our-team);
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  color: var(--title-text-color);
  border: none;
  cursor: pointer;
  padding: 6px 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:active,
.filter-btn:hover,
.filter-btn:focus {
  background: var(--primary-link-color);
  color: var(--primary-white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

/* ------------ Studio -------------------- */
/* -------------- section banner -------- */

.banner {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg_img.jpg);
  background-size: cover;
  background-position: center;
  /* ------------ LAYOUT IN CLASS ---------------  */
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  text-align: center;
  margin: 0 auto;
}

.banner-titel {
  font-size: 44px;
  font-weight: 900;
  color: var(--primary-white-color);
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 2.64px;
  width: 696px;
  margin: 0 auto 30px auto;
}

.banner-btn {
  border-radius: 4px;
  background: var(--primary-link-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  color: var(--primary-white-color);
  border: none;
  cursor: pointer;
  padding: 10px 32px 10px 32px;
}

/* ------------ modal-window --------- */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.button-modal {
  position: absolute;
  top: 8px;
  left: 485px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: #0000001a;
  background-color: white;
  cursor: pointer;
}

.button-modal:hover::before,
.button-modal:focus::before,
.button-modal:hover::after,
.button-modal:focus::after {
  border: 1px solid var(--primary-link-color);
}

.button-modal::before {
  content: '';
  display: inline-block;

  height: 16px;
  border: 1px solid black;
  transform: rotate(45deg);
  position: absolute;
  top: 17%;
  left: 45%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal::after {
  content: '';
  position: absolute;
  display: inline-block;
  border: 1px solid black;
  height: 16px;
  transform: rotate(-45deg);
  top: 17%;
  left: 45%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------ FORM --------------------------- */
.modal-window-form {
  padding: 40px 40px;
}

.form-input {
  margin-top: 4px;
  padding: 9.5px 38px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.form-input:focus {
  outline: 1px solid var(--primary-link-color);
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.form__title {
  margin-bottom: 12px;
  color: var(--text-logo-accent);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.form-groop {
  margin-bottom: 10px;
  position: relative;
  max-height: 58px;
}

.form-btn-submit {
  text-align: center;
}

.form-label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.form-label-checkbox {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.171;
  letter-spacing: 0.42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-area {
  margin-bottom: 20px;
  max-height: 138px;
}

.check {
  margin-bottom: 30px;
}

.form-textarea {
  margin-top: 4px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
}

.form-textarea:focus {
  outline: 1px solid var(--primary-link-color);
}

.form-button {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  background: var(--primary-link-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:focus,
.form-button:hover {
  background-color: rgba(24, 140, 232, 1);
}

.agreement {
  color: var(--primary-link-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  margin-left: 4px;
}

.form-icon {
  position: absolute;
  left: 20px;
  top: 43px;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 18px;
  height: 18px;
}

.form-checkbox {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
}

.form-checkbox:focus + .chek-icon {
  border: 2px solid var(--primary-link-color);
}

.form-checkbox:checked + .chek-icon {
  fill: var(--primary-link-color);
  border: none;
}

.chek-icon {
  width: 16px;
  height: 15px;
  fill: var(--primary-white-color);
  stroke: var(--primary-white-color);
  border-radius: 4px;
  border: 2px solid rgba(33, 33, 33, 1);
  margin-right: 7px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------- section about ------- */

.about {
  background-color: var(--primary-white-color);
  padding-bottom: 0;
}

.about-info {
  display: flex;
}

.about-info li {
  margin-right: 30px;
}

.about-li {
  width: 270px;
}

.box-icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--bg-our-team);
  border-radius: 4px;
}

.about-icon {
  width: 70px;
  height: 70px;
}

.about-info li:last-child {
  margin-right: 0;
}

.about-subtitle {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-paragraph {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* ------------our-work -----------  */

.our-work-info {
  display: flex;
}

.our-work-info li {
  margin-right: 30px;
  position: relative;
}

.our-work-info li:last-child {
  margin-right: 0px;
}

.our-work__title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
  text-align: center;
}

.our-work_rectangle-above-img {
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.our-work__title-rectangle {
  color: var(--primary-white-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 27px;
}
/* ----------- our team ----------- */

.our-team {
  background: var(--bg-our-team);
}

.our-team-info {
  display: flex;
}

.our-team__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
  text-align: center;
}

.our-team-info > .card {
  margin-right: 30px;
}

.our-team-info li:last-child {
  margin-right: 0px;
}

.our-team__subtitle {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.our-team__paragraph {
  font-size: 16px;
  letter-spacing: 0.48px;
  color: var(--primary-text-color);
}

.card {
  background: var(--primary-white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 270px;

  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.icon-link > li {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-link li:last-child {
  margin-right: 0px;
}

.web-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web-link:hover,
.web-link:focus {
  background-color: var(--primary-link-color);
}

.web-link:hover > .button-icon,
.web-link:focus > .button-icon {
  fill: #ffffff;
}

.button-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-title {
  padding: 30px 0px 30px 0px;
}

/* --------------- our clients -------------  */

.our-clients {
  display: flex;
}

.our-clients > li {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.our-clients li:last-child {
  margin-right: 0px;
}

.our-clients-link:hover,
.our-clients-link:focus {
  border-color: var(--primary-link-color);
}

.our-clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--icon);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-link:hover > .our-clients-icon,
.our-clients-link:focus > .our-clients-icon {
  fill: var(--primary-link-color);
}

.our-clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.m-icon {
  scale: 1.5;
}

/* ------------ footer ------------- */

.site-footer {
  background: var(--footer-bcg-color);
  padding: 60px 0;
}

.footer-logo {
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--text-logo-accent);
  letter-spacing: 0.78px;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  display: block;
}

.address {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71429;
  font-family: 'Roboto';
  letter-spacing: 0.42px;
  font-style: normal;
  margin-bottom: 12px;
}

.footer-link {
  color: var(--footer-link-color);
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.42px;
  font-family: 'Roboto';
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-addres {
  margin-right: 70px;
}

.footer-info li {
  margin-bottom: 12px;
}

.footer-info li:last-child {
  margin-bottom: 0px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--primary-link-color);
}

.icon-link-footer {
  width: 206px;
}

.footer-title {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.box-footer {
  display: flex;
  align-items: baseline;
}

.icon-link-footer-ul {
  display: flex;
  margin-top: 16px;
}

.icon-link-footer-ul > li {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-link-footer-ul li:last-child {
  margin-right: 0px;
}

.web-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon);
  background-color: var(--footer-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web-link-footer:hover,
.web-link-footer:focus {
  background-color: var(--primary-link-color);
}

.button-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

/* ----------- footer-form ----------------- */

.footer-button-submit {
  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 28px;
  border-radius: 4px;
  border: none;
  background: var(--primary-link-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  cursor: pointer;
  position: relative;
  margin-left: 12px;
}

.form-in-footer {
  margin-left: 117px;
}

.footer-form {
  width: 570px;
  display: flex;
  align-items: end;
}

.footer-input {
  padding: 15px 16px;
  margin-top: 20px;
  width: 358px;
  color: var(--primary-white-color);
  height: 50px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-input:focus {
  border: 1px solid var(--primary-link-color);
}

.email-footer {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.form-footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
}
