:root {
    --accent-color: #2196F3;
    --main-text-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --main-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
    --team-card-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --filter-buttom-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    --primary-translate: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}