.backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);

    transition: opacity var(--primary-translate), visibility var(--primary-translate), transform var(--primary-translate);
}


.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-white-color);
    width: 528px;
    border-radius: 4px;

    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;

    /* початковій стан елемента перед анімацією */
        .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.4);
        opacity: 0;
        }
    
    /* кінцевий стан елемента після анімації */
        .backdrop & {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        }

    &__close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        border-color: rgba(0, 0, 0, 0.10);
        border-radius: 50%;
        background-color: transparent;
        width: 30px;
        height: 30px;
        transition: fill var(--primary-translate);
    }

    &__fill {
        padding: 40px;
        color: var(--primary-text-color);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.12px;
        margin: 0;
    }
    
    
    &__text {
        color: var(--main-text-color);
        text-align: center;
        font-family: var(--main-font-family);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
        margin: 0;
        padding: 0;
        margin-bottom: 12px;
    }
    
    &__label {
        position: relative;
        display: flex;
        flex-direction: column;
        color: #757575;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.12px;
        margin-bottom: 10px;
    }
}

.modal__input {
    width: 448px;
    height: 40px;
    padding: 0;
    padding-left: 42px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    transition: border var(--primary-translate);
    outline: none;

    &:hover,
    &:focus,
    &:active {
        border-color: var(--accent-color);
        cursor: pointer;
    }
}

.close-btn__svg {
    fill: rgb(0, 0, 0);
    transition: fill var(--primary-translate);

    &:hover,
    &:focus,
    &:active {
        fill: var(--accent-color);
        transition: fill var(--primary-translate);
    }
}

.label {
    margin-bottom: 4px;
    display: block;
    font-size: 12px;
}

.checkbox-label {
    display: block;
    font-size: 12px;
}

.comment {
    display: flex;
    flex-direction: column;

    &::placeholder {
        color: rgba(117, 117, 117, 0.50);
        font-family: var(--main-font-family);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
    }
}

.modal__icon {
    fill: var(--main-text-color);
    position: absolute;
    top: 50%;
    left: 12px;
    bottom: 0;
    display: flex;
    transition: fill var(--primary-translate);
}

.modal__input:hover+.modal__icon,
.modal__input:focus+.modal__icon,
.modal__input:active+.modal__icon {
    fill: var(--accent-color);
}

.comment__text {
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    color: var(--main-text-color);
    font-size: 14px;
    transition: border-color var(--primary-translate);
    outline: none;

    &:hover,
    &:focus,
    &:active {
        border-color: var(--accent-color);
        cursor: pointer;
    }
}

/* checkbox */
.agree {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;

    &__link {
        color: var(--accent-color);
        font-family: var(--main-font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.42px;
        text-decoration-line: underline;
        transition-property: color var(--primary-translate);
    }
}

.modal__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 20px 0 30px 0;
    padding: 0;
}


/* custom checkbox */
.modal__checkbox--custom {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    transition: border-color var(--primary-translate), background-color var(--primary-translate);

    &:hover,
    &:focus,
    &:active {
        border-color: var(--accent-color);
    }
}

.checkbox:checked+.modal__checkbox--custom {
    background-color: var(--accent-color);
    border: var(--accent-color);
}

.checkbox__icon--check {
    opacity: 0;
    transform: opacity var(--primary-translate);
    fill: var(--primary-white-color);

}

.checkbox:checked+.modal__checkbox--custom .checkbox__icon--check {
    opacity: 1;
}


.submit-btn {
    color: var(--primary-white-color);
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 52px;
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.96px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;

    transition: background-color var(--primary-translate);

    &:hover,
    &:active,
    &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}


