.header {
    padding: 0;
    border-bottom: 1px solid #ECECEC;
}

.navigatoin {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    margin-left: 94px;
    display: flex;
}

.nav__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-list__link {
    color: var(--main-text-color);
    font-family: var(--main-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    transition: color var(--primary-translate);

    &:focus,
    &:hover {
        color: var(--accent-color);

    }

    &.current {
        color: var(--accent-color);
    
        &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: var(--accent-color);
        border-radius: 4px;
        margin-bottom: -1px;
    }
    
    }
}

.contact-list {
    display: flex;
    margin-left: auto;
    gap: 40px;

}

.contact {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;

    transition: color var(--primary-translate);

    &__tel {
            align-items: center;
        }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &__icon {
        fill: currentColor;
        align-items: center;
        align-content: center;
        margin-right: 10px;
    }
}

